:root {
  --bg-color: #222;
  --main-color: #ff6347;
  --font-color: #efefef;
  --headerbar-height: 4rem;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  /* This pattern is downloaded from www.subtlepatterns.com  */
  background-image: url("../img/txture.png");
  font-family: "Space Grotesk", sans-serif;
  color: var(--font-color);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

/* header bar */
.header-bar,
.header-bar ul {
  display: flex;
}

.header-bar {
  position: relative;
  background-color: #dedede;
  height: var(--headerbar-height);
  justify-content: space-between;
  z-index: 80;
  box-sizing: border-box;
}

.header-image {
  position: relative;
  z-index: 80;
  background-color: black;
  height: var(--headerbar-height);
  padding: 10px 15px 10px 20px;
  box-sizing: border-box;
}

.logo-img {
  max-width: 15rem;
  padding: 0px 10px;
}

.header-nav {
  padding: 0;
  font-size: 1.2rem;
}

.header-nav li {
  margin-right: 30px;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .1s ease-in-out;
}

.header-nav li:hover {
  color: black;
  border-bottom: 3px solid #333;
  box-sizing: border-box;
}

.intro {
  width: 100%;
  height: auto;
  max-height: calc(100vh - var(--headerbar-height));
  position: relative;
  overflow: hidden;
}

.intro-img {
  width: inherit;
  height: 100%;
}

.intro-title {
  color: #ddd;
  text-align: center;
  background-color: #000000cc;
  position: absolute;
  width: 100%;
  top: 10%;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2rem 0;
}

/* header bar end */

/* main */
.container {
  background-color: #11111133;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: #222;
}

.content {
  background-color: #ededed;
  padding: 40px 20px;
}

.section-header {
  text-transform: capitalize;
  padding-bottom: .5rem;
  border-bottom: 2px solid #bcbcbc;
}

/* about me */
#about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.about-me-img {
  overflow: hidden;
  text-align: center;
}

.me-img {
  width: 100%;
  height: auto;
}

.about-me-text {
  text-align: justify;
  padding: 0 10px;
}

/* about me end */

/* offer */
.offer-text {
  text-align: justify;
  max-width: 800px;
  margin: auto;
}

/* offer end */

/* portfolio */
.portfolio-content {
  padding: 40px 20px;
  color: var(--font-color);
  background-color: #ffffff33;
}

#instafeed-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

#instafeed-container>a {
  display: block;
  width: 20vw;
  height: 20vw;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
}

#instafeed-container img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

#instafeed-container img:hover {
  transform: scale(1.1);
  filter: brightness(.8);
}

#fullSize {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 98;
  background-color: #00000099;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

.full-size-img {
  width: auto;
  max-height: 90%;
}

.full-size-close {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 80px;
}

/* portfolio end */


/* contact */
.contact-text {
  max-width: 600px;
  margin: auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
}

.contact-form form>input,
.contact-form form>textarea,
.contact-btn {
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid #999;
  border-radius: 0.2rem;
  padding: 5px 10px;
  font-size: 1rem;
}

.form-formule {
  font-size: 0.8rem;
}

.checkbox {
  margin-bottom: 1.5rem;
}

.contact-btn {
  cursor: pointer;
  width: 100px;
  color: var(--bg-color);
  transition: all .3s ease-in-out;
}

.contact-btn:hover {
  background-color: #999;
  color: black;
}

.socialmedia {
  font-size: 4rem;
  text-align: center;
  border-top: 1px solid var(--bg-color);
  margin-top: 2rem;
  padding-top: 1rem;
}

.socialmedia a {
  color: var(--bg-color);
}

.socialmedia .fa-facebook-square,
.socialmedia .fa-instagram-square,
.socialmedia .fa-youtube-square {
  transition: all .3s ease-in-out;
  padding: 0 10px;
}

.socialmedia .fa-facebook-square:hover {
  color: #3b5998;
}

.socialmedia .fa-instagram-square:hover {
  color: #e1306c;
}

.socialmedia .fa-youtube-square:hover {
  color: #c4302b;
}

/* contact end */

/* main end  */

/* back to top button */
#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 0;
  width: 64px;
  height: 64px;
  font-size: 4rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #33333366;
  cursor: pointer;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

#toTopBtn:hover {
  color: #333;
}

.fas {
  position: absolute;
  top: 0;
  left: 0;
}

/* back to top button end  */

/* footer section */
#footer {
  background-color: #00000099;
  padding: 30px;
  text-align: center;
}

/* end footer section */

/* media section */
@media (max-width: 840px) {
  .normal-menu {
    display: none;
  }

  .header-list ul {
    display: block;
    position: absolute;
    opacity: 0;
    margin: 0;
    right: -31px;
    top: -180px;
    background-color: #dedede;
    padding: 20px 100px 20px 40px;
    z-index: -1;
  }

  .header-list ul a {
    display: block;
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .header-nav {
    margin-right: 0;
  }

  .header-nav li {
    font-weight: 400;
  }

  .intro-title {
    font-size: 0.8rem;
    padding: 0;
  }

  .container {
    padding: 0.5rem;
  }

  #about-me {
    grid-template-columns: 1fr;
  }

  .about-me-text {
    order: -1;
  }

  #instafeed-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #instafeed-container>a {
    width: 40vw;
    height: 40vw;
  }

  .full-size-img {
    max-width: 80%;
  }
}

@media (max-width: 370px) {
  .logo-img {
    max-width: 13rem;
    padding: 6px 2px;
  }
}